{% include "cabecera.html"  %}

    <section class="contact-question-section">
        <div class="container">
            <div class= "row">
                <!-- opcion para enviar preguntas o contactar creadores de la pagina -->
                <div class="col">
                    <h2>Contacto o Preguntas</h2>
                    <form action = "contactanos" method = "POST" class = "form-horizontal">
                        <label for="name">Nombre</label>
                        <input type="text" id="name" name="name">

                        <label for="email">Correo</label>
                        <input type="text" id="email" name="email">

                        <label for="message">Mensaje</label>
                        <textarea name="message" placeholder="Ingrese el mensaje" id="message" cols="30" rows="10"></textarea>

                        <input type="submit" class="send-message-cta" value="Enviar Mensaje">

                    </form>
                </div>              
            </div>
        </div>

        <!-- Preguntas frecuentes -->
        <section id="faqs">
            <div class="container1">
                <h2>Preguntas Frecuentes</h2>
                <div class="content1">
                    <article class="open">
                        <div class="icon"><i class="uil uil-minus"></i></div>
                        <div class="detail">
                            <h4>Pregunta 1: ¿Puedo comprar productos directamente con PriceScanner?</h4>
                            <p>La aplicación PriceScanner no permite hacer compras directamente, pero si proporciona la página oficial de la tienda del producto</p>
                        </div>
                    </article>
                    <article>
                        <div class="icon"><i class="uil uil-plus"></i></div>
                        <div class="detail">
                            <h4>¿Cuáles son las tiendas asociadas a la aplicación?</h4>
                            <p>Actualmente la aplicación realiza un Web Scrapping a las siguientes tiendas: Mercado Libre y e-Bay</p>
                        </div>
                    </article>
                    <article>
                        <div class="icon"><i class="uil uil-plus"></i></div>
                        <div class="detail">
                            <h4>Pregunta 3: ¿Con qué correo me puedo comunicar para solucionar mis dudas?</h4>
                            <p>Puedes comunicar y escribir todas las dudas a nuestro correo oficial: pricescanner@yahoo.es</p>
                        </div>
                    </article>
                    <article>
                        <div class="icon"><i class="uil uil-plus"></i></div>
                        <div class="detail">
                            <h4>Pregunta 4: ¿Por qué busco un producto y no me salen resultados?</h4>
                            <p>Revisa bien la ortografía del producto, si aun así no se muestra un resultado por pantalla es porque el producto que deseas encontrar no está disponible en las tiendas oficiales, y por lo tanto, no se mostrara por medio de la aplicación.</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>

    </section>

    <!--Javascript para despliegue de preguntas-->
    <script>
        const faqs = document.querySelectorAll('section#faqs article');

        faqs.forEach(faq => {
            faq.addEventListener('click', () => {
                faq.classList.toggle('open');
                //cambiar el icono
                const icon = faq.querySelector('.icon i');
                if(icon.className === 'uil uil-plus') {
                    icon.className = 'uil uil-minus'
                } else {
                    icon.className = 'uil uil-plus'
                }
            })
        })
    </script>

{% include "pie.html"  %}