{% include "cabecera.html"  %}
    <!-- Seccion de Nosotros -->
    
    <section class="nosotros">
        <div class="contenido">
            <h2>Acerca de nosotros</h2>
            <span></span>
            <p>Trabajamos para proporcionarle al usuario la mejor
            interaccion entre la busqueda de sus producto y su compra.
            El proposito de esta aplicacion es facilitarle al
            usuario la busqueda de los productos que el necesite
            de manera amigable, priorizando las necesidades de el mismo.
        
            </p>

            <ul class="links">
                <li><a href="">Amigable</a></li>
                <div class="vertical-line"></div>

                <li><a href="">Util</a></li>
                <div class="vertical-line"></div>

                <li><a href="">Productos</a></li>

            </ul>
        </div>
    </section>

{% include "pie.html"  %}