@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #007AF3;
}

html {	
    scroll-behavior: smooth;	
}

body {
    background: #F2F2F2;
    margin: 0;
    font-family:'Poppins';
}

.navBar {
    background: white;
    padding: 1em;
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.05);	
    z-index: 2;

    .logo {
        text-decoration: none;
        font-weight: 700;
        color: black;
        font-size: 1.2em;

        span {
            color: var(--primary-color);
        }
    }

    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
        gap: 2rem;
    }

    .mobile-menu {
        cursor: pointer;
    }
}

a {
    color: #444444;
    transition: all 1000ms ease;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 3em 2em;
}

.hero {
    text-align: center;
}

.left-col {
    .subhead {
        text-transform: uppercase;
        font-weight: bold;
        color: gray;
        letter-spacing: .5em;
    }

    h1 {
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: .8em;
    }

    .ingresar-cta { 
        display: block;
        text-decoration: none;
        font-size: 1.2em;
        font-weight: 700px;
        margin-top: 1em;
        padding: .8em 1.3em;
    }

    .buscar-cta {
        color: var(--primary-color);	
        border: 3px solid var(--primary-color);
        text-decoration: none;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: 700px;
        display: inline-block;
        margin-top: 1em;

        &:hover {	
            background: var(--primary-color);	
            color: white;	
        }
    }

}

.hero-img {
    width: 60%;
    margin-top: 3em;
}

.ingresar-campos {
    background: #20272E;
    color: white;
}

.campos-list {
    margin: 0;
    padding-left: .1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));

    li {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 1em;
        margin-left: 2em;
        position: sticky;

        &:before {
            content: '';
            left: -2em;
            position: absolute;
            width: 30px;
            height: 30px;
            background-image: url('../images/search4.svg');
            background-size: contain;
            margin-right: 1em;
        }
    }
}

.ingresar-campos img {
    display: none;
}

h2 {
    font-size: 2em;
}

section#tiendas-usadas h4 {	
    margin-top: 8rem;	
    text-align: center;	
    font-size: 1.5em;	
    text-transform: uppercase;	
    font-weight: 700;	
    letter-spacing: .5em;	
    color: gray;	
}	
.ingresar-campos img {	
    display: block;	
    right: 0;	
    width: 550px;	
    bottom: 3em;	
    margin-right: 2.5em;	
}	
section#tiendas-usadas .container .tiendas {	
    display: flex;
    position: inline-block;
    align-items: center;
    margin-top: 5em;
    margin-left: 5em;
    padding-left: 3em;	
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

input, textarea {
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}

.send-message-cta {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 300px;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272E;
    height: 100vh;
    padding: 1em;


    ul.primary-navegation {
        margin-top: 5em;
    }

    li {
        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.4em;
            text-align: right;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

*{	
    box-sizing: border-box;	
    padding: 0;	
    margin: 0;	
}	
.nosotros {	
    display: contents;	
    min-height: 90vh;	
    width: 85vw;	
    margin: 0 auto;	
}	
.nosotros .contenido {	
    background: #e8e0e0;	
    margin: 8em 3em 1em 3em;	
    padding: 2em 2em 2em 2em;	
    display: flex;	
    justify-content: center;	
    flex-direction: column;	
    align-items: center;	
}	
.contenido h2 {	
    text-transform: uppercase;	
    color:#3c3c3c;	
    padding-bottom: 5px;	
}	
.contenido span {	
    height: 0.5px;	
    width: 80px;	
    background: #777;	
    margin: 30px 0;	
}	
.contenido p {	
    padding-top: 10px;	
    padding-bottom: 30px;	
    font-weight: 500;	
    opacity: 0.7;	
    width: 60%;	
    text-align: center;	
    margin: 0 auto;	
    line-height: 2;	
}	
.links {	
    margin: 15px 0;	
}	
.links li {	
    border: 0.5px solid #777;	
    list-style: none;	
    border-radius: 5px;	
    padding: 10px 15px;	
    width: 160px;	
    text-align: center;	
}	
.links li a {	
    text-transform: uppercase;	
    color: #777;	
    text-decoration: none;	
}	
.links li:hover {	
    border-color: var(--primary-color);	
}	
.links li:hover a {	
    color: var(--primary-color);	
    font-weight: bold;	
}	
.vertical-line {	
    height: 30px;	
    width: 0.5px;	
    background: #777;	
    margin: 0 auto;	
}	
@media(max-width:992px) {	
    section {	
        grid-template-columns: 1fr;	
        width: 100%	
    }	
    	
    .contenido {	
        height: 100vh;	
    }	
    .contenido h2 {	
        font-size: 30px;	
        margin-top: 50px;	
    }	
    .contenido span {	
        margin: 20px 0;	
    }	
    .contenido p {	
        font-size: 14px;	
    }	
    .links li a {	
        font-size: 14px;	
    }	
    .links {	
        margin: 5px 0;	
    }	
    .links li {	
        padding: 6px 10px;	
    }	
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navBar .container {
        display: grid;
        grid-template-columns: 180px auto;
        place-content: unset;
    }

    .navBar nav {
        display: flex;
        place-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }

        a {
            color: black;
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.primary-navegation {
            margin: 0;
        }

        li.current a {
            font-weight: bold;
        }

        li a:hover {	
            color: #4199f0;	
            border-bottom: 4px solid #4199f0;	
        }

        li.log-in-cta a{
            color: var(--primary-color);
            border: 3px solid var(--primary-color);
            font-weight: bold;
            border-radius: 5em;
            margin-top: -.2em;

            &:hover {
                background: var(--primary-color);
                color: white;
            }
        }
    }
}

@media only screen and (min-width: 1080px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }
    
    section {
        padding: 5em 4em;
    }

    .hero .container {
        display: flex;
        place-content: space-between;
        text-align: left;

        .left-col {
            margin: 3em 3em 0 5em;

            h1 {
                font-size: 3em;
                width: 100%;
            }
        }
    }

    .hero-img {
        width: 30%;
        margin-right: 8em;
    }

    .hero-cta {
        display: flex;
    }

    .primary-navegation {
        margin-right: 1em;
    }

    ul.campos-list {
        display: block;
        margin-left: 5em;

        li {
            font-size: 1.4em;

            &:before {
                width:30px;
                height: 30px;
            }
        }
    }

    .ingresar-campos {
        position: relative;
    }

    .ingresar-campos img {
        display: block;
        position: absolute;
        right: 0;
        width: 550px;
        bottom: 3em;	
        margin-right: 2.5em;
    }

    .contact-question-section {
        position: relative;
        padding: 3em 2em;	
        margin: 3em 8em 0em 1em;

        .container {
            display: flex;
        }
    }

    .contact-right {
        position: absolute;
        right: 0;
        top: 20%;
        width: 45%;
        height: 100%;

        iframe {
            height: 100%;
        }
    }
}

@media only screen and (min-width: 1450px) {
    .ingresar-campos {

        &:before {
            content: '';
            position: absolute;
            width: 10%;
            height: 20em;
            background: var(--primary-color);
            left: 0;
            top: -4em;
        }

        &:after {
            content: '';
            position: absolute;
            width: 200px;
            height: 20em;
            background: url('../images/dots.svg') no-repeat;
            left: 7.2em;
            top: 2em;
        }
    }
}


.footer-container {
    background-color:lightgray;
    padding-top: 5em;
}

.footer {
    width: 80%;
    height: auto;
    background-color: lightgray;
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4em;
}

.footer-heading h2 {
    margin-bottom: 2em;
}

.footer-heading a {
    text-decoration: none;
    color: black;
    margin-bottom: 0.5em;
}

.footer-heading a:hover {
    font-weight: 700;
    transition: 0.3s ease-out;
}

.footer-email-form {
    margin-bottom: 2em;
}

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5em;
    font-size: 1em;
    margin-bottom: 1em;
}

#footer-email::placeholder {
    color: #b1b1b1;
}

#footer-email-btn {
    width: 115px;
    height: 40px;
    border-radius: 4px;
    background-color: gray;
    outline: none;
    border: none;
    color: black;
    font-size: 1em;
}

#footer-email-btn:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    transition: all 0.4s ease-out;
}

@media screen and (min-width: 1450px) {
    .footer {
        height: 50vh;
    }
    .footer-email-form {
        margin-top: 4em;
    }
}

@media screen and (min-width: 820px) {
    .footer {
        padding-top: 2em;
    }
}

@media screen and (min-width: 720px) {
    .footer-3 {
        display: none;
    }
    .footer-email-form {
        margin-top: 2em;
    }
}
