@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #007AF3;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #F2F2F2;
  margin: 0;
  font-family: "Poppins";
}

.navBar {
  background: white;
  padding: 1em;
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.05);
  z-index: 2;
}
.navBar .logo {
  text-decoration: none;
  font-weight: 700;
  color: black;
  font-size: 1.2em;
}
.navBar .logo span {
  color: var(--primary-color);
}
.navBar nav {
  display: none;
}
.navBar .container {
  display: flex;
  place-content: space-between;
  gap: 2rem;
}
.navBar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
  transition: all 1000ms ease;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 3em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: 0.5em;
}
.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.8em;
}
.left-col .ingresar-cta {
  display: block;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 700px;
  margin-top: 1em;
  padding: 0.8em 1.3em;
}
.left-col .buscar-cta {
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: 700px;
  display: inline-block;
  margin-top: 1em;
}
.left-col .buscar-cta:hover {
  background: var(--primary-color);
  color: white;
}

.hero-img {
  width: 60%;
  margin-top: 3em;
}

.ingresar-campos {
  background: #20272E;
  color: white;
}

.campos-list {
  margin: 0;
  padding-left: 0.1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
}
.campos-list li {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 2em;
  position: sticky;
}
.campos-list li:before {
  content: "";
  left: -2em;
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("../images/search4.svg");
  background-size: contain;
  margin-right: 1em;
}

.ingresar-campos img {
  display: none;
}

h2 {
  font-size: 2em;
}

section#tiendas-usadas h4 {
  margin-top: 8rem;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5em;
  color: gray;
}

.ingresar-campos img {
  display: block;
  right: 0;
  width: 550px;
  bottom: 3em;
  margin-right: 2.5em;
}

section#tiendas-usadas .container .tiendas {
  display: flex;
  position: inline-block;
  align-items: center;
  margin-top: 5em;
  margin-left: 5em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

input, textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  box-sizing: border-box;
}

.send-message-cta {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 300px;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}
nav ul.primary-navegation {
  margin-top: 5em;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.4em;
  text-align: right;
}
nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navBar .container {
    display: grid;
    grid-template-columns: 180px auto;
    place-content: unset;
  }
  .navBar nav {
    display: flex;
    place-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navBar nav ul {
    display: flex;
  }
  .navBar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navBar nav ul.primary-navegation {
    margin: 0;
  }
  .navBar nav li.current a {
    font-weight: bold;
  }
  .navBar nav li a:hover {
    color: #4199f0;
    border-bottom: 4px solid #4199f0;
  }
  .navBar nav li.log-in-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -0.2em;
  }
  .navBar nav li.log-in-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
}
@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 5em 4em;
  }
  .hero .container {
    display: flex;
    place-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container .left-col h1 {
    font-size: 3em;
    width: 100%;
  }
  .hero-img {
    width: 30%;
    margin-right: 8em;
  }
  .hero-cta {
    display: flex;
  }
  .primary-navegation {
    margin-right: 1em;
  }
  ul.campos-list {
    display: block;
    margin-left: 5em;
  }
  ul.campos-list li {
    font-size: 1.4em;
  }
  ul.campos-list li:before {
    width: 30px;
    height: 30px;
  }
  .ingresar-campos {
    position: relative;
  }
  .ingresar-campos img {
    display: block;
    position: absolute;
    right: 0;
    width: 550px;
    bottom: 3em;
    margin-right: 2.5em;
  }
  .contact-question-section {
    position: relative;
    padding: 3em 2em;
    margin: 3em 8em 0em 1em;
  }
  .contact-question-section .container {
    display: flex;
  }
  .contact-right {
    position: absolute;
    right: 0;
    top: 20%;
    width: 45%;
    height: 100%;
  }
  .contact-right iframe {
    height: 100%;
  }
}
@media only screen and (min-width: 1450px) {
  .ingresar-campos:before {
    content: "";
    position: absolute;
    width: 10%;
    height: 20em;
    background: var(--primary-color);
    left: 0;
    top: -4em;
  }
  .ingresar-campos:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 20em;
    background: url("../images/dots.svg") no-repeat;
    left: 7.2em;
    top: 2em;
  }
}
.footer-container {
  background-color: lightgray;
  padding-top: 5em;
}

.footer {
  width: 80%;
  height: auto;
  background-color: lightgray;
  color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4em;
}

.footer-heading h2 {
  margin-bottom: 2em;
}

.footer-heading a {
  text-decoration: none;
  color: black;
  margin-bottom: 0.5em;
}

.footer-heading a:hover {
  font-weight: 700;
  transition: 0.3s ease-out;
}

.footer-email-form {
  margin-bottom: 2em;
}

#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 0.5em;
  font-size: 1em;
  margin-bottom: 1em;
}

#footer-email::-moz-placeholder {
  color: #b1b1b1;
}

#footer-email::placeholder {
  color: #b1b1b1;
}

#footer-email-btn {
  width: 115px;
  height: 40px;
  border-radius: 4px;
  background-color: gray;
  outline: none;
  border: none;
  color: black;
  font-size: 1em;
}

#footer-email-btn:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  transition: all 0.4s ease-out;
}

@media screen and (min-width: 1450px) {
  .footer {
    height: 50vh;
  }
  .footer-email-form {
    margin-top: 4em;
  }
}
@media screen and (min-width: 820px) {
  .footer {
    padding-top: 2em;
  }
}
@media screen and (min-width: 720px) {
  .footer-3 {
    display: none;
  }
  .footer-email-form {
    margin-top: 2em;
  }
}/*# sourceMappingURL=main.css.map */