{% include "cabecera.html"  %}

    <br>
    <!-- contenedor con los productos que se exponen -->
    <div class="container">
        <div class="row">
            <!-- productos -->

            {% for prod in products %}
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src={{ prod[0] }} alt="Title">
                    <div class="card-body">
                        <h4 class="card-title">{{ prod[2] }}</h4>
                        <a target="_blank" class="fcc-btn" >Precio: {{ prod[3] }}</a>
                        <br>
                        <a target="_blank" class="fcc-btn" href= {{ prod[1] }} >Pagina de venta</a>
                        <br>
                        <a target="_blank" class="fcc-btn" >Envio gratis: {{ prod[4] }}</a>
                        <br>
                        <a target="_blank" class="fcc-btn" >Mas vendido: {{ prod[5] }}</a> 

                    </div>
                </div>
            </div>
            {%  %}
        </div>
    </div>

{% include "pie.html"  %}