{% include "cabecera.html"  %}

{% block catalg %}

<br>
    <h2 class= "text-center"> Registrate para acceder a las recomendaciones del catalogo </h2>
</br>

<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <a href="/signup"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sign up</font></font></button>
    <a href="/login" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Log in</font></font></button>
</div>

{% endblock %}

{% include "pie.html"  %}