{% include "cabecera.html"  %}

    <section class="contact-question-section">
        <div class="container">
            <div class= "row">
                <!-- opcion para enviar preguntas o contactar creadores de la pagina -->
                <div class="col-md-6">
                    <h2>Contacto o Preguntas</h2>
                    <form action="">
                        <label for="name">Nombre</label>
                        <input type="text" id="name" name="name">

                        <label for="email">Correo</label>
                        <input type="text" id="email" name="email">

                        <label for="message">Mensaje</label>
                        <textarea name="message" placeholder="Ingrese el mensaje" id="message" cols="30" rows="10"></textarea>

                        <input type="submit" class="send-message-cta" value="Enviar Mensaje">
                    </form>
                </div>
                
                <!-- mapa de google -->
                <div class="col-md-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15863.665677774663!2d-75.60136557417715!3d6.274719856566428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44293be2b564b7%3A0x12cc8ddcb9f6d6e4!2sSchool%20of%20Mines%20-%20National%20University%20of%20Colombia!5e0!3m2!1sen!2sco!4v1678854855260!5m2!1sen!2sco" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>

    </section>

{% include "pie.html"  %}