<!DOCTYPE html>
<html lang="en">
<head>

    <!-- meta etiqueta requeridas -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- titulo  -->
    <title>Website</title>

    <!-- archivos css, iconos y bootstrap -->
    <link rel="stylesheet" href="static/css/home.css">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onSubmit(token) {
          document.getElementById("demo-form").submit();
        }
    </script>
</head>
<body>
    <!-- barra de navegacion -->
    <div class= "barra">
        <div class="container">
            <a class="logo" href="/home">Price<span>Scanner</span></a>

            <img id="mob-cta" class="mob-menu" src="static/images/menu.svg" alt="Open Navegation">

            <nav>
                <img id="mob-exit" class="mob-menu-exit" src="static/images/exit.svg" alt="Close Navegation">
                <!-- items de la barra de navegacion -->
                
                <ul class="prim-nav">
                    <li class="current"><a href="/catalogo">Catálogo</a></li>
                </ul>

                <ul class="sec-nav">
                    <li class="logout-cta"><a href="/index">Log Out</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="head">
        <h1>Encuentra los mejores precios para tu producto ingresando los siguientes campos</h1>
    </div>

    <div class="boton_busq">
        <form class="boton-busqueda">
            <input type="text" placeholder="Busca los productos">
            <button type="submit">Buscar</button>
        </form>
    </div>

    <div class="line1"></div>

    <section class="rang-precio">
        <form>
            <label for="price-range">Precio del Producto:</label>
            <select id="price-range" class="escoger">
                <option value="any">Cualquier precio</option>
                <option value="0-100">0 - 100</option>
                <option value="100-500">100 - 500</option>
                <option value="500-1000">500 - 1000</option>
            </select>
            <label for="min-price">Desde:</label>
            <input type="number" id="min-price" name="min-price" min="0" step="10">
            <label for="max-price">Hasta:</label>
            <input type="number" id="max-price" name="max-price" min="0" step="10">
            <button type="submit">Buscar</button>
        </form>
    </section>

    <div class="line2"></div>

    <section class="envio">
        <form id="form1">
            <label for="shipping">Desea envio Gratis?</label>
            <select id="shipping" class="choose">
                <option value="Si">Si</option>
                <option value="No">No</option>
            </select>
            <button type="submit">Buscar</button>
        </form>
    </section>

    <script>
        const mobileBtn = document.getElementById('mob-cta')
            nav = document.querySelector('nav')
            mobileBtnExit = document.getElementById('mob-exit'); 
        
        mobileBtn.addEventListener('click', () => {
            nav.classList.add('menu-btn');
        })

        mobileBtnExit.addEventListener('click', () => {
            nav.classList.remove('menu-btn');
        })
    </script>

    <script>
        const selectPriceRange = document.getElementById("price-range");
        const minPriceInput = document.getElementById("min-price");
        const maxPriceInput = document.getElementById("max-price");
        const searchForm = document.querySelector("form");

        selectPriceRange.addEventListener("change", (event) => {
        const selectedOption = event.target.value;
        if (selectedOption === "any") {
            minPriceInput.value = "";
            maxPriceInput.value = "";
        } else {
            const [minPrice, maxPrice] = selectedOption.split("-");
            minPriceInput.value = minPrice;
            maxPriceInput.value = maxPrice;
        }
        });

        searchForm.addEventListener("submit", (event) => {
        event.preventDefault();
        const selectedPriceRange = selectPriceRange.value;
        const minPrice = minPriceInput.value;
        const maxPrice = maxPriceInput.value;
        });

    </script>

    <script>
        const selectEnvio = document.getElementById("shipping");
        const searchForm1 = document.querySelector("form1");

        selectEnvio.addEventListener("change", (event) => {
        const selectedOption = event.target.value;
        });

        searchForm.addEventListener("submit", (event) => {
        event.preventDefault();
        const selectedEnvio = selectEnvio.value;
        });

    </script>
    
</body>
</html>