{% include "cabecera.html"  %}

    <!-- primera seccion de la pagina -->
    <section class="hero">
        <div class="container">
            <div class="left-col">
                <p class="subhead">Busca todo lo que necesitas</p>
                <h1>Compara los Precios y Encuentra los Mejores Productos</h1>

                <div class="hero-cta">
                    <a href="" class="ingresar-cta">Ingresar</a>
                    <a href="/catalogo" class="buscar-cta">Buscar</a>
                </div>
            </div>
            
            <img src="images/compare.svg" class="hero-img" alt="Ilustration">
        </div>
    </section>

    <!-- esta es la seccion de caracteristicas -->
    <section class="ingresar-campos">
        <div class="container">
            <h2>Comparar productos nunca habia sido tan facil</h2>
            <h3>Se optimizan las búsquedas por:</h3>
            <ul class="campos-list">
                <li>Producto</li>
                <li>Precio Deseado</li>
                <li>Ubicación</li>
                <li>Precio Deseado del Envio</li>
            </ul>

            <img src="images/comp-precios.jpg" alt="comparacion de precios">
        </div>
    </section>
    <!-- seccion de las tiendas utilizadas para la informacion -->
    <section id="tiendas-usadas">
        <div class="container">
            <h4>Las tiendas que se usan</h4>
            <div class="tiendas">
                <div><img src="images/amazon-logo.png" width="60%"></div>
                <div><img src="images/ebay-logo.png" width="60%"></div>
                <div><img src="images/aliexpress-logo.png" width="60%"></div>
            </div>
        </div>
    </section>

{% include "pie.html"  %}