<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class = "navBar">
        <div class="container">
            <a class="logo" href="/">Price<span>Scanner</span></a>

            <img id="mobile-cta" class="mobile-menu" src="images/menu.svg" alt="Open Navegation">

            <nav>

                <img id="mobile-exit" class="mobile-menu-exit" src="images/exit.svg" alt="Close Navegation">

                <ul class="primary-navegation">
                    <li class="current"><a href="/">Inicio</a></li>
                    <li><a href="/catalogo">Catalogo</a></li>
                    <li><a href="/nosotros">Nosotros</a></li>
                    <li><a href="/contactanos">Contactanos</a></li>
                </ul>

                <ul class="secondary-navegation">
                    <li class="sign-up-cta"><a href="#">Sign Up</a></li>
                    <li class="log-in-cta"><a href="#">Log In</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <h1>Poner informacion de nosotros</h1>
</body>
</html>