
<!-- pie de pagina -->
<section id="foot">
    <div class="footer-container">
        <div class="footer">
            <!-- items del pie de pagina -->

            <div class="footer-heading f1">
                <h2>Links</h2>
                <a href="/">Inicio</a>
                <a href="/catalogo">Catálogo</a>
                <a href="/nosotros">Nosotros</a>
                <a href="/contactanos">Contáctanos</a>
            </div>
            <div class="footer-heading f2">
                <h2>Información</h2>
                <a href="#">Contacto</a>
                <a href="#">Soporte</a>
                <a href="#">Política de Privacidad</a>
                <a href="#">Términos y Condiciones</a>
            </div>
            <div class="footer-heading f3">
                <h2>Redes</h2>
                <a href="#">Instagram</a>
                <a href="#">Facebook</a>
                <a href="#">Twitter</a>
            </div>
            <div class="footer-email-form">
                <h2>Correo electronico</h2>
                <p>Para recibir informacion sobre eventos y promociones</p>
                <form name="formemail" method="POST" action="guardar-email" class="search" autocomplete="off">
                    <!-- input para ingresar el nombre del producto -->
                    <input type="search" name="email_no_user" class="input_search" placeholder="ej: pricescaner@gmail.com" requeridas> 

                    <!-- boton para buscar y mostrar los resultados -->
                    <button type="submit" class="search__btn">
                        <i class="bi bi-search search__icon"></i>
                        Suscribirse
                    </button>
                
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    const mobileBtn = document.getElementById('mobile-cta')
        nav = document.querySelector('nav')
        mobileBtnExit = document.getElementById('mobile-exit')
    
    mobileBtn.addEventListener('click', () => {
        nav.classList.add('menu-btn');
    })

    mobileBtnExit.addEventListener('click', () => {
        nav.classList.remove('menu-btn');
    })
</script>

<script>
    var search_btn = document.querySelector(".search_btn");
    var close_btn = document.querySelector(".close_btn");
    var search_box_wrap = document.querySelector(".search_box_wrap");
    var input_search = document.querySelector(".input_search");

    search_btn.addEventListener("click", () => {
        search_box_wrap.classList.add("active");
        input_search.focus();
    })

    close_btn.addEventListener("click", () => {
        search_box_wrap.classList.remove("active");
    })

</script>

</body>
</html>