

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- meta etiqueta requeridas -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- titulo  -->
    <title>Website</title>

    <!-- archivos css, iconos y bootstrap -->
    <link rel="stylesheet" href="static/css/signup.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>

    <!-- Icono del password-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <!-- Seccion de Signup -->
    <section class="container form">
        <div class="formsignup">
            <div class="form-content">
                <header>Signup</header>

                <!-- Para ingresar correo y clave -->
                <form action="#">
                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input">
                    </div>
                    
                    <div class="field input-field">
                        <input type="email" placeholder="Email Again" class="input">
                    </div>
                    
                    <div class="field input-field">
                        <input type="password" placeholder="Password" class="password">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>
                    

                    <div class="field button-field">
                        <button>Sign Up</button>
                    </div>
                </form>

                <!-- Para ingresar a una cuenta existente (lleva al usuario a Login) -->
                <div class="form-link">
                    <span>Ya tienes una cuenta? <a href="/login" class="link signup-link">Login</a></span>
                </div>
            </div>

            <div class="line"></div>

            <div class="media-options">
                <a href="#" class="field facebook">
                    <i class='bx bxl-facebook facebook-icon'></i>
                    <span>Inicia sesión con Facebook</span>
                </a>
            </div>
            
            <div class="media-options">
                <a href="#" class="field google">
                    <i class='bx bxl-google google-icon'></i>
                    <span>Inicia sesión con Google</span>
                </a>
            </div>
        </div>
        
    </section>

    <!--Javascript-->
    <script>
        const forms= document.querySelector(".form"),
            pwShowHide = document.querySelectorAll(".eye-icon"),
            links = document.querySelectorAll(".link");

        pwShowHide.forEach(eyeIcon => {
            eyeIcon.addEventListener("click", () => {
                let pwFields = eyeIcon.parentElement.parentElement.querySelectorAll(".password");
                
                pwFields.forEach(password => {
                    if(password.type === "password") {
                        password.type = "text";
                        eyeIcon.classList.replace("bx-hide", "bx-show");
                        return;
                    }
                    password.type = "password";
                    eyeIcon.classList.replace("bx-show", "bx-hide");
                })
            })
        })

        
    </script>
</body>
</html>